.icon-button {
  color: #E4EFFF; /* Assuming this is the desired color for the IconButton */
}

.menu-paper {
  background-color: rgba(16, 43, 109, .7); /* Assuming this is the desired background color for the Menu */
  color: #E4EFFF; /* Assuming this is the desired text color for the Menu */
}
