/* .search-bar {
  color: #e4efff; 
  position: relative;
  background: #668ebc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 65px;
}

.search-input {
  color: #e4efff; 
  position: relative;
  background: #668ebc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 65px;
}

 */
